!!!5 
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %title Club de Robotica ITMexicali
    %link{rel:"stylesheet", href:"/offline/style.css"}
    %meta{name:"description", content:""}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
  %body
    %p#message Parece que no pudimos conectarnos a internet, no hay problema, aquí está la información que necesitas.
    .container
      %h1 Club de Robotica ITMexicali
      %p
        %strong Dirección
        Av. Instituto Tecnológico s/n, Plutarco Elías Calles, 21376 Mexicali, B.C., México
      %p
        %strong Horario
        4pm - 10pm
      %p
        %strong Teléfono
        +52 686 580 4980
      %p
        %strong Descripción
        El Club de Robotica se encuentra en el Instituto Tecnológico de Mexicali, la cual es una institución pública de educación superior ubicado al sureste de Mexicali, Baja California, México
      #map
        %img{src:"/offline/map.png"}
        %p Este mapa ofrece referencias del lugar.

